body {
   background-image: url(color.jpeg);
     color: darkgrey;
 }
#paypal
{
    color: rgb(0, 0, 0);
}
#time
{
    color: rgb(0, 0, 0);
}
#money
{
    color: rgb(0, 0, 0);
}
#payment
{
    color: rgb(0, 0, 0);
}